.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icon span {
  margin-left: 25px;
  position: relative;
}
.screen-header__cog-notif {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  right: -6px;
  top: -6px;
}
